$font-family-sans-serif: Poppins, sans-serif;
$font-family-serif: Times, 'Times New Roman', serif;

$brand-primary: #372e8e;
$brand-secondary: #56b7c5;
$light-grey: #e3e3e3;


$transformacion-digital: #372e8e;
$transformacion-digital-light: #8782bb;


$movilidad: #3daf4a;
$movilidad-light: #8bcf92;


$energia: #56b7c5;
$energia-light: #9ad4dc;


$otros: #f8a128;
$otros-light: #fbc77e;
