/* ------------------------------------------------------------ *\
    Vendor
\* ------------------------------------------------------------ */

@import './vendor/*.scss';

/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/frontend.config.scss';
@import '~@styles/shared/_variables.scss';
@import '~@styles/shared/_editor.scss';
@import './_variables.scss';
@import './_typos.scss';
@import './_sprite.scss';

/* ------------------------------------------------------------ *\
    Theme
\* ------------------------------------------------------------ */

@import '~@styles/editor';
@import './_generic*.scss';


/* ---------------- For sticky header: class="float-panel"  ------------------*/
.float-panel {
  width: 100%;
  background: $brand-primary;
  z-index: 300;
  padding: 5px 0;
  transform: translateZ(0);
  transition: all 0.5s; /* Effect for switching from .fixed to static */
  position: relative;
  border-bottom: 1px solid #fff;
}

.float-panel .content-area {
  margin: 10px auto;
}

.float-panel a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
}

.float-panel .fa-gg {
  color: #F0595C;
  font-size: 30px;
  vertical-align: middle;
  transition: all 1s;
}

/* when class="float-panel fixed" */
.fixed {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 4px 0;
  animation: slide-down 0.7s;
  opacity: 0.9;
}

.fixed .fa-gg {
  transform: rotate(360deg);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}


/* ---------------- For Animation on Scroll ---------------- */
.slideanim {
  visibility: hidden;
  visibility: visible \9
; /*For old IE browsers IE6-8 */
}

.slideanim.slide {
  visibility: visible;
  animation: slide 1s;
}

.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/*-------- Generic styles for the page ------------------*/


html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font: normal 15px Calibri, Helvetica, Verdana, sans-serif;
  line-height: 1.8;
  color: #000;
  margin: 0;
}


section {
  display: block;
  padding: 60px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/*.col-33, .col-40, or .col-60 should be immediate children of .row */
.col-33 {
  float: left;
  width: 33.3333%;
}

.col-40 {
  float: left;
  width: 40%;
}

.col-60 {
  float: left;
  width: 60%;
}

.row .fa {
  font-size: 14em;
  color: #679;
}

.col-33 .fa {
  font-size: 4em;
  color: #679;
}

@media (max-width: 768px) {
  section {
    padding: 20px 8px;
  }
  .col-33, .col-40, .col-60 {
    float: none;
    width: 100%;
  }
}

.bg-gray {
  background-color: #F4F4F4;
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}


/* ---------------- For the Responsive Image Grid. For details visit: www.menucool.com/ui/use-image-sprites-in-responsive-image-grids ---------------- */

#rig {
  max-width: 900px;
  margin: 0 auto; /*center aligned*/
  padding: 0;
  font-size: 0; /* Remember to change it back to normal font size if have captions */
  list-style: none;
  background-color: none;
}

#rig li {
  display: inline-block;
  *display: inline; /*for IE6 - IE7*/
  width: 25%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The wrapper for each item */
.rig-cell {
  margin: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  padding: 16px;
  border: none;
  color: #555;
  background-color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  overflow: hidden;
}

.rig-cell h3 {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

/* If have the image layer */
.rig-img {
  display: block;
  border: none;
  width: 100%;
  height: 0;
  padding-top: 83.461538%;
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  position: relative; /* Make its pseudo :after to be relative to it. */
}

.rig-img:after {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  content: '+';
  color: white;
  padding-top: 14%;
  font-size: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.3s;
  transform: scale(0);
}

#rig li:hover .rig-img:after {
  opacity: 1;
  transform: scale(1);
}

/* If have the overlay layer */
.rig-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: white;
  background-size: 50px 50px;
  opacity: 0;
  filter: alpha(opacity=0); /*For older IE*/
  transition: all 0.3s;
}

#rig li:hover .rig-overlay {
  opacity: 0.5;
}

@media (max-width: 9000px) {
  #rig li {
    width: 25%;
  }
}

@media (max-width: 800px) {
  #rig li {
    width: 33.33%;
  }
}

@media (max-width: 500px) {
  #rig li {
    width: 50%;
  }
}

@media (max-width: 350px) {
  #rig li {
    width: 100%;
  }
}


.parallax-window {
  height: 200px;
}

.navbar {
  position: static;
}

#menu-main-menu {
  font-weight: 200 !important;

  .dropdown-item {
    font-weight: 200 !important;
  }
}

#menu-main-menu > .nav-item:not(:last-child) {
  margin-right: 18px;
}

.dropdown-toggle::after {
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
  background-color: $brand-primary;
}

.ova-details {
  padding: 10px 5px 10px 20px;
  border-radius: 20px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;

  &.linear-gradient-active {
    background: linear-gradient(90deg, rgba(105, 238, 191, 0.8) 0%, rgba(92, 255, 196, 0) 100%);
    border-radius: 8px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }

  &.ova-linear-gradient {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, #3DEEA4 0%, #6EDDE8 74.48%, #79D9F8 100%);
      border-radius: 8px;
    }

    &:hover {
      &:before {
        width: 100%;
        background: linear-gradient(90deg, rgba(105, 238, 191, 0.8) 0%, rgba(92, 255, 196, 0) 100%);
        border-radius: 8px;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
      }
    }
  }

  .title {
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #000300;
    margin-bottom: 15px;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    z-index: 3;

    display: inline;
    @media(max-width: 767px) {
      line-height: 1.2em;
    }



  }

  .desc {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    z-index: 3;
  }
}

.navbar-toggler {
  width: 47px;
  height: 34px;
  border: none;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: darkslateblue;
  margin-bottom: 5px;
}

.navbar-brand {
  img {
    max-width: 110px !important;
  }
}

#intro {
  background-color: $brand-primary;
  background-image: url("../../images/pattern-1.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
  color: #fff !important;
  padding-left: 0;
  padding-right: 0;

  .display-1 {
    font-size: 32px;
    color: $brand-secondary;
    font-weight: normal;

    strong {
      font-size: 32px;
      font-weight: bold;
      color: $brand-secondary;
      margin-right: .5em;
    }
  }

  .intro_line_h {
    line-height: 1.9em;
    color: #fff;
  }

  &:after {
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 30%;
    background-image: url("../../images/pattern-2.png");
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
  }
}


#ambitos_featured {
  .display-1 {
    font-size: 30px;
    color: $brand-primary;
    font-weight: bold;
    text-align: center;

  }
}

#servicios {
  background-color: lightgoldenrodyellow;
}

#eventos-recursos {
  background-color: $brand-primary;

}

.brand-strong {
  font-size: 25px;
  color: $brand-secondary;

}

.event-card {
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 1em;
  color: #fff;
}

.resource-card {
  border-radius: 15px;
  border: 2px solid #fff;
  padding: 1em;

  a {
    width: 100%;
    height: 100%;
    color: #fff;
    display: block;
    text-decoration: none;
  }
}

.h-dash {
  content: '';
  display: block;
  height: 2px;
  border-top: 2px dashed $brand-primary;
  position: relative;
  top: 50%;
}

#botonera {
  position: relative;
  z-index: 9;
}

.bg_transluc {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .25);
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;

  p {
    margin-bottom: 0;
    font-weight: 200;
  }

  &:hover {
    background-color: rgba(255, 255, 255, .50);
  }
}


#ambitos {
  background-image: url("../../images/pattern-1.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.anno-snippet {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


  .card-header {
    padding: 0;
    border: 0;

    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 208px;
    }
  }

  .card-post-header {
    .target {
      background-color: blue;
      color: #fff;
      text-align: center;
      padding: 3px 0;
    }

    .title {
      text-align: center;
      font-weight: bold;
      padding: 10px 0;

      a {
        color: #fff;
      }
    }
  }

  .card-body {
    padding: 20px 35px;

    strong {
      color: #000;
      font-size: 15px;
      margin-bottom: 20px;
      display: block;
    }

    .meta {
      display: block;
      margin-bottom: 25px;


    }
  }


  &.transformacion-digital {
    .card-post-header .title {
      background-color: $transformacion-digital;
    }

    .card-post-header .target.empresas {

      background-color: $transformacion-digital-light;
    }

    .card-post-header .target.ciudadania {
      background-color: #fff;
      color: $transformacion-digital;
    }

    .label {
      color: $transformacion-digital;

      a {
        color: $transformacion-digital;
      }
    }
  }

  &.movilidad {
    .card-post-header .title {
      background-color: $movilidad;
    }

    .card-post-header .target.empresas {

      background-color: $movilidad-light;
    }

    .card-post-header .target.ciudadania {
      background-color: #fff;
      color: $movilidad;
    }

    .label {
      color: $movilidad;

      a {
        color: $movilidad;
      }
    }
  }

  &.energia {
    .card-post-header .title {
      background-color: $energia;
    }

    .card-post-header .target.empresas {

      background-color: $energia-light;
    }

    .card-post-header .target.ciudadania {
      background-color: #fff;
      color: $energia;
    }

    .label {
      color: $energia;

      a {
        color: $energia;
      }
    }
  }

  &.otros {
    .card-post-header .title {
      background-color: $otros;
    }

    .card-post-header .target.empresas {

      background-color: $otros-light;
    }

    .card-post-header .target.ciudadania {
      background-color: #fff;
      color: $otros;
    }

    .label {
      color: $otros;

      a {
        color: $otros;
      }
    }
  }


}


.blink_me {
  animation: blinker 1s linear infinite;
}

strong.opcional {
  font-size: 12px !important;
  font-weight: bold;
}

footer {
  #contact-footer {
    background-color: $brand-primary;
    color: #fff;

    .display-3 {
      font-size: 25px;
      font-weight: bold;
      color: $brand-secondary !important;
      margin-bottom: 0;
    }

    .as_astrong {
      font-size: 16px;
      display: block;
      line-height: 28px;
      margin-bottom: 1em;

    }

  }
  #post-footer {
    background-color: #050122;
    height: 25px;
  }
  #cta-footer {
    background-image: url("../../images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    .display-3 {
      font-size: 30px;
      color:#000;
      font-weight: normal;
    }
  }
}

.gradient_bar {
  background: rgb(157,211,163);
  background: -moz-linear-gradient(left, rgba(157,211,163,1) 0%, rgba(165,217,222,1) 100%);
  background: -webkit-linear-gradient(left, rgba(157,211,163,1) 0%,rgba(165,217,222,1) 100%);
  background: linear-gradient(to right, rgba(157,211,163,1) 0%,rgba(165,217,222,1) 100%);
  height: 4px;
}


.pointered {
  height: 1px;
  width: 100%;
  border: 2px dashed $brand-primary;
}

.ova-wrapper:last-child{
  .pointered {
    display: none;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
